<!doctype html>
<html>
<head>
	<title>Welcome Fans!!</title>
	<style>
	body{
		background-color: rgb(0,30,67);
	}
	h1,h2{
		color: rgb(171,1,4);
		text-align: center;
	}
	IMG.displayed{
    	display: block;
    	margin-left: auto;
    	margin-right: auto 
	}
	</style>
	<!-- Include the PubNub Library -->
<!-- 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
	<IMG class="displayed" src="/static/natsW.png" alt="I can't find the photo :(" width= 400>
	<br>
	<br>
	<h1>The season is over</h1>
	<h2>Pitchers and Catchers report 2/20/16</h2>
	<h2>Start marking the days off your calendar!</h2>
</body>
</html>
